<app-navigation></app-navigation>
<section class="hero">
    <div>
        <img src="img/head.svg" class="profile">
    </div>
    <div class="me">
        <div class="introduction">
            <h1>Hey, I'm Sree! 😎</h1>
            <h2>I'm a UX Designer.</h2>
            <p>I research, I analyze, I code, I test, I make things pretty, and most importantly – <b>I solve problems</b>.</p>   
        </div>
        <div class="see-work">
            <a href="#"><span>See my work <p id="arrow">⤵</p></span></a>
        </div>    
    </div>
</section>
<section class="hero">
    <div>
        <img src="img/head.svg" class="profile">
    </div>
    <div>
        <div class="introduction">
            <h1>Hey, I'm Sree!</h1>
            <h2>I'm a UX Designer.</h2>
            <p>I research, I analyze, I code, I test, I make things pretty, and most importantly – <b>I solve problems.</b></p>   
        </div>
    </div>
</section>
