<app-navigation></app-navigation>
<section class="hero">
    <div>
        <img src="img/head.svg" class="profile">
    </div>
    <div id="me">
        <div class="introduction">
            <h1>Hey, I'm Sree! 😎</h1>
            <h2>I'm a UX Designer.</h2>
            <p>I research, I analyze, I code, I test, I make things pretty, and most importantly – <b>I solve problems</b>.</p>   
        </div>
        
        <div id="see-work">
                <div id="arrow">
                   <div id="horizontal"><h3>Check out my work!</h3></div>
                    <div id="straight">
                        <div id="line">
                            <div id="line-content"></div>
                        </div>
                        <div >
                            <img src="img/down-arrow.svg" id="point">
                        </div>
                    </div>
                </div>
        </div>    
    </div>
</section>
<section id="filler">
    
</section>
